.element__like {
    padding: 0;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 19px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    background: url("../../../images/like.png") center/cover no-repeat;
    transition: all .3s;
}
.element__like:hover {
    opacity: 0.6;
}