.popup__title {
  color: black;
  margin: 0 0 44px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}
.popup__title_delete {
  margin-bottom: 24px;
}
@media screen and (max-width: 600px) {
  .popup__title {
    margin: 0 0 45px 0;
    font-size: 18px;
    line-height: 22px;
  }
}