.elements {
  max-width: 880px;
  margin: 0 auto 67px auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .elements {
    max-width: calc(100vw - 96px);
    margin: 0 auto 48px auto;
  }
}

@media screen and (max-width: 550px) {
  .elements {
    max-width: calc(100vw - 38px);
  }
}