.elements {
    max-width: 880px;
    margin: 0 auto 67px auto;
    padding: 0;
}
@media screen and (max-width: 1024px) {
    .elements {
        max-width: 100%;
        margin: 0 48px 48px 48px;
    }
}
@media screen and (max-width: 550px) {
    .elements {
        margin: 0 19px 48px 19px;
    }
}