.profile__edit-btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url("../../../images/edit-button.svg") center/contain no-repeat;
}
@media screen and (max-width: 500px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
    }
}