.popup__container {
    width: 430px;
    height: 330px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
