.popup__container {
  width: 360px;
  height: 305px;
  padding: 35px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 238px;
    height: 328px;
    padding: 25px 22px;
  }
}